.home {
  width:100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: auto;
}
.homeBanner {
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}
.itemsFilter {
  width: 12%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.itemsFilter h6 ,.list-items{
  border: none;
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
}

.items{
  width: 90px;
  height: 40px;
  font-weight: 700px;
  font-size: 18px;
  margin-right: 50px;
  margin-left: 0px;

}

.show-filter{
  color: #888792;
  font-size: 16px;
  width: 114px;
  height: 40px;
  text-decoration: underline;
  margin-top: 50px;
  margin-left: 50px;
  font-family: Adobe Caslon Pro;
}

.accordion {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion-header {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-item p {
  margin: 0;
}

.options label {
  display: block;
}

.card-container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  margin: 20px 0px 40px 40px;
}

.card {
  display: flex;
  width: 250px;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 25px;
}
.card:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.card-products {
  width: 100%;
  height: 500px;
  max-width: 270px;
  max-height: 400px;
  object-fit: contain;
}

.product-title {
  width: 80%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: gray;
  margin: 5px;
  padding: 5px 0px;
}
.product-title:hover{
  color: black;
}
.wishlist {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

@media (max-width: 1200px) {
  .card {
    width: calc(33.33% - 2%);
  }
}

@media (max-width: 800px) {
  .card {
    width: calc(50% - 2%);
  }
}

@media (max-width: 600px) {
  .card {
    width: 80%;
  }
  .homeBanner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .itemsFilter {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
